body {
  display: flex;
  min-height: 150vh;
  flex-direction: column;
  background-color: rgb(242, 240, 240);



}

main {
  display:absolute;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  flex: 1 0 auto;



}

footer {
  flex-shrink: 0;
  bottom:0;
  width:100%;
  height:80px;  

}

.page-footer {
  padding-top: 0;
}

.logo-view {
  align-items: center;
}

.nav-btn {
  padding: 16px;
}

.nav-btn a {
  width: 100%;
}

.brand-logo img {
  height: inherit;
}

.logo-header {
  height: 15vh;
}

.logo-header img {
  height: inherit;
  padding: 8px;
}

.small-text {
  font-size: smaller;
}

.card-col {
  height: auto;
}

.card-col .card {
  height: 100%;
}

.card-col .card .card-content {
  height: 20vh;
  overflow: auto;
}

.sidebar {
  height: inherit;
  position: relative;
  justify-content: center;
}

.sidebar .background {
  position: absolute;
  opacity: 0.7;
  height: inherit;
  width: 90%;
  z-index: -1;
}

.sidebar .background img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.sidebar .logo {
  width: 100%;
  z-index: 99;
}

.responsive-h1 {
  margin-top: 8px;
  font-size: 8vh;
}

h1 i {
  height: Helvetica;
}

h1{
  color: rgb(84, 85, 86);
  font-family: 'Times New Roman', Times, serif;
}

.section .row {
  margin-bottom: 0;
}


.contenedor-imagenes {
  background-image: url('../img/imagen1.jpg');
  background-repeat: no-repeat;
  background-attachment: flex;
  background-size: 100% 100%;

}

.logo-principal {
width: 50px;
height: 80%;


}



.slider{
  background-image: url('../img/prueba2.jpg');
  background-repeat: no-repeat;
  background-attachment: flex;
  background-size: 100% 100%;

overflow: hidden;


}

.slider ul {
 display: flex;
 padding: 0;
 width: 400%;
 animation: cambio 20s infinite alternate linear;

  }


.slider li{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    
  
    }
  
.slider img{
      width: 100%;

  }

  @keyframes cambio {
    
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    
    25% {margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }

  .texto_encima{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(1, 153, 190);
}

.texto_bajo{

 text-align: center;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*Prueba*/

.capa{
  display: flex;
  justify-content: center;



}
.parrafo{
 
  width: 90%;
  height: auto;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  background: #fff;
  box-shadow: 1px 5px 25px rgba(151, 234, 238, 0.45);
  border-radius: 5px;
  text-align: justify;

}
.parrafo img{
  width: 300px;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
 
  border: 5px dotted rgb(104, 216, 244);
}

/*iconos*/

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa {
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  width: 40px;
  margin: 3px 10px;

}

.iconos {
  border-radius: 5px;
 margin-left: 5%;
 margin-right: 5%;
  padding-left: 20%;
  padding-right: 20%;
  background: #ffffff;
  box-shadow: 1px 5px 25px rgba(151, 234, 238, 0.45);
}