body {
  display: flex;
  min-height: 150vh;
  flex-direction: column;
  background-color: rgb(242, 240, 240);



}

main {
  display:absolute;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  flex: 1 0 auto;



}

footer {
  flex-shrink: 0;
  bottom:0;
  width:100%;
  height:80px;  

}

.page-footer {
  padding-top: 0;
}

.logo-view {
  align-items: center;
}

.nav-btn {
  padding: 16px;
}

.nav-btn a {
  width: 100%;
}

.brand-logo img {
  height: inherit;
}

.logo-header {
  height: 15vh;
}

.logo-header img {
  height: inherit;
  padding: 8px;
}

.small-text {
  font-size: smaller;
}

.card-col {
  height: auto;
}

.card-col .card {
  height: 100%;
}

.card-col .card .card-content {
  height: 20vh;
  overflow: auto;
}

.sidebar {
  height: inherit;
  position: relative;
  justify-content: center;
}

.sidebar .background {
  position: absolute;
  opacity: 0.7;
  height: inherit;
  width: 90%;
  z-index: -1;
}

.sidebar .background img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.sidebar .logo {
  width: 100%;
  z-index: 99;
}

.responsive-h1 {
  margin-top: 8px;
  font-size: 8vh;
}

h1 i {
  height: Helvetica;
}

h1{
  color: rgb(84, 85, 86);
  font-family: 'Times New Roman', Times, serif;
}

.section .row {
  margin-bottom: 0;
}


.contenedor-imagenes {
  background-image: url('../img/imagen1.jpg');
  background-repeat: no-repeat;
  background-attachment: flex;
  background-size: 100% 100%;

}

.logo-principal {
width: 50px;
height: 80%;


}



.slider{
  background-image: url('../img/prueba2.jpg');
  background-repeat: no-repeat;
  background-attachment: flex;
  background-size: 100% 100%;

overflow: hidden;


}

.slider ul {
 display: flex;
 padding: 0;
 width: 400%;
 animation: cambio 20s infinite alternate linear;

  }


.slider li{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    
  
    }
  
.slider img{
      width: 100%;

  }

  @keyframes cambio {
    
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    
    25% {margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }

  .texto_encima{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(1, 153, 190);
}

.texto_bajo{

 text-align: center;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

/*Prueba*/

.capa{
  display: flex;
  justify-content: center;



}
.parrafo{
 
  width: 90%;
  height: auto;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  background: #fff;
  box-shadow: 1px 5px 25px rgba(151, 234, 238, 0.45);
  border-radius: 5px;
  text-align: justify;

}
.parrafo img{
  width: 300px;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
 
  border: 5px dotted rgb(104, 216, 244);
}

/*iconos*/

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa {
  border-radius: 50%;
  padding: 7px;
  font-size: 20px;
  width: 30px;
  margin: 3px 10px;

}

.iconos {
  border-radius: 5px;
 margin-left: 5%;
 margin-right: 5%;
  padding-left: 20%;
  padding-right: 20%;
  background: #ffffff;
  box-shadow: 1px 5px 25px rgba(151, 234, 238, 0.45);
}

/*Carrusel AboutUs*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  -webkit-animation: carousel-animate-vertical 27s linear infinite;
          animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
  -webkit-animation-delay: calc(3s * -1);
          animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
  -webkit-animation-delay: calc(3s * 0);
          animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
  -webkit-animation-delay: calc(3s * 1);
          animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
  -webkit-animation-delay: calc(3s * 2);
          animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
  -webkit-animation-delay: calc(3s * 3);
          animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
  -webkit-animation-delay: calc(3s * 4);
          animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
  -webkit-animation-delay: calc(3s * 5);
          animation-delay: calc(3s * 5);
}

.carousel__item:nth-child(8) {
  -webkit-animation-delay: calc(3s * 6);
          animation-delay: calc(3s * 6);
}

.carousel__item:last-child {
  -webkit-animation-delay: calc(-3s * 2);
          animation-delay: calc(-3s * 2);
}

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

@-webkit-keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%, 22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%, 33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}